body {

	background-image: url("../image/background/index.png");
	height: 100%;
	width: 100%;
	margin: 0px;

}

#content-div {

	background-color: white;
	height: 100%;
	width: 53.333333333333336%;
	margin-left: auto;
	margin-right: auto;

}

#header-div {

	background-color: #0a4c87;
	height: 5.555555555555555%;
	width: 100%;

}

#header-content {

	height: 5.555555555555555%;
	width: 53.333333333333336%;
	margin-left: auto;
	margin-right: auto;

}

#header-logo {

	height: 100%;

}

#sections-div {

	background-image: url("../image/background/sections.png");
	height: 4.62962962962963%;
	width: 100%;

}

#sections-content {

	height: 4.62962962962963%;
	width: 100%;

}

#sections-tab {

	display: inline-block;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding: calc(0.008796296296296297 * 100vh);
	padding-left: 4.947916666666666%;
	padding-right: 5.026041666666667%;
	background-color: transparent;
	
}

#sections-tab:hover {

	background-color: #0A5199;

}

a#sect {

	display: inline-block;
	padding: 0;
	color: transparent;
	width: auto;
	

}


